/* Write your CSS here */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(#fff1eb, #ace0f9);
}
.app-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 1110px;
}
.app-head {
  font-size: 40px;
  font-family: 'Bree Serif';
  color: #1e293b;
  margin-top: 64px;
  margin-bottom: 48px;
}
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 250px;
  border: 1px solid #7b8794;
  border-radius: 7px;
  height: 44px;
  background-color: transparent;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .search-container {
    max-width: 480px;
  }
}
.search-bar {
  height: 40px;
  width: 220px;
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
}
.search-img {
  height: 36px;
  width: 36px;
}
.tab-item-bg {
  display: flex;
  justify-content: flex-end;

  padding-left: 0px;
  margin-top: 32px;
}
.app-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 0px;
}
